#sidebar > a,
nav > a {
  text-align: center;
}

#sidebar > ul > a,
nav > a {
  svg {
    transition: all 0.3s ease-in-out;
  }
  transition: all 0.3s ease-in-out;
}

#sidebar > ul > a:hover,
nav > a:hover {
  svg {
    fill: orange;
    transition: all 0.2s ease-in-out;
  }
  color: orange;
  @apply bg-slate-700 rounded-xl p-3;
  transition: all 0.2s ease-in-out;
}
#menu-icon:hover {
  svg {
    fill: orange;
    transition: all 0.3s ease-in-out;
  }
  @apply bg-slate-700;
  transition: all 0.3s ease-in-out;
}

#menu-icon:active,
#sidebar > ul > a:active,
nav > a:active {
  transform: scale(0.9);
  transition: all 0.1s ease-in-out;
}

#sidebar {
  top: 0;
  right: -100%;
  animation: slideOut 0.3s ease-in;
}

#sidebar.open {
  right: 0;
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

#menu-icon {
  svg {
    transition: all 0.3s ease-in-out;
  }
  transition: all 0.3s ease-in-out;
}
